* {
  /* font-family: 'Roboto', sans-serif; */
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  text-align: center;
  margin-bottom: 4rem;
}

.shop-gallery {
  display: flex;
  flex-wrap: wrap;
}

.shop-gallery .item {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 0.5rem;
}
.shop-gallery .item:hover {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.shop-gallery .item-image {
  width: 15rem;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
}


.footer {
  border-top: 1px solid #ccc;
  margin-top: 6rem;
  text-align: center;
}